body {
  font-family: "Courier New";
  background-color: #f5f5f5;
  color: #2a2727d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 50%;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Palatino Linotype";
}

.header__subtitle {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 330px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Courier New";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 13px;
  font-size: 1.2;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #cb782f;
  font-size: 13px;
}

.links__title {
  margin: 0;
  min-width: 100px;
}
.link__title {
  font-family: Tahoma;
  font-size: 13px;
  font-size: 1.3;
  color: #2d3179eb;
  margin: 0;
  min-width: 180px;
}
footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #cb782f;
  border: 1px solid #8f8f8f;
  ;
  border-radius: 10px;

  font-size: 14px;
  line-height: 1.4;

  color: #ffffff;
  text-decoration: none;
}
.button-link:hover {
  background-color: #8f8f8f;
  color: #fff;
  box-shadow: 0 1px 0 #cb782f;
}
body {
  background-color: #f1f1f1;
}

#catblock {
  height: 100%;
  display: flex;
  align-items: right;
  justify-content: right; 
} 

.body {
  width: 90px;
  height: 100px;
}

.body, .body:before, .body:after {
  position: absolute;
}

.body:before, .body:after {
  content: '';
}

.face, .face:before, .face:after,
.features,
.features:before,
.features:after {
  position: absolute;
}

.face:before, .face:after,
.features:before,
.features:after {
  content: '';
}

.bodySlant {
  background-color: #e6ac4c;
  border-radius: 4px;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
}

.earsBasic:before, .earsBasic:after {
  width: 0;
  height: 0;
  top: -25px;
  border-top: 28px solid transparent;
  border-bottom: 20px solid transparent;
}

.earsBasic:before {
  border-left: 20px solid #e6ac4c;
  left: 0;
}

.earsBasic:after {
  border-right: 20px solid #e6ac4c;
  right: 0;
}

.cat .face {
  top: 22px;
  left: 20px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 44px 0 #000;
  animation: blink 8s infinite linear;
}

.cat .face:before, .cat .face:after {
  top: 14px;
  left: 6px;
  z-index: 5;
  width: 16px;
  height: 20px;
  border-radius: 50% / 40%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  box-shadow: 0px 0px #000;
}

.cat .face:after {
  left: 24px;
  transform: rotateY(180deg);
}

.cat .features {
  top: 44px;
  left: 11px;
  width: 20px;
  height: 1px;
  background-color: #000;
  box-shadow: 0 5px #000, 48px 0 #000, 48px 5px #000;
}

.cat .features:after {
  left: 30px;
  top: -6px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 2px 0 #000, 1px 1px #000;
  animation: yawn 8s infinite linear;
}

.cat .features:before {
  top: 10px;
  left: 74px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #e6ac4c;
  border-left: 0;
  border-top: 0;
}

@keyframes blink {
  32% {
      height: 6px;
  }
  38% {
      height: 1px;
  }
  42% {
      height: 1px;
  }
  48% {
      height: 6px;
  }
}

@keyframes yawn {
  32% {
      box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px transparent, 2px 16px transparent, 1px 18px transparent;
  }
  35% {
      box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000, 1px 18px transparent;
  }
  38% {
      box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000, 1px 18px #650000;
  }
  42% {
      box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000, 1px 18px #650000;
  }
  45% {
      box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000, 1px 18px transparent;
  }
  48% {
      box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px transparent, 2px 16px transparent, 1px 18px transparent;
  }
}
